/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main app container */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e1e1e;
  overflow: hidden; /* Prevent scrolling */
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f3f3f3;
}

.navbar select {
  padding: 5px;
  border-radius: 5px;
}

/* Editor and Output container styling */
.editor-output-container {
  display: flex;
  flex: 1;
  overflow: hidden; /* Prevent scrolling within the editor-output container */
}

/* Code editor styling */
.code-editor {
  flex: 3;
  background-color: #2d2d2d;
  overflow: hidden; /* Prevent internal scrolling in the code editor */
}

/* Monaco Editor styling */
.monaco-editor {
  height: 100%;
  width: 100%;
}

/* Output pane styling */
.output-pane {
  flex: 1;
  background-color: #333333;
  border-left: 1px solid #555;
  overflow-y: auto; /* Allow vertical scrolling only if necessary */
  height: 70vh;
}

.btn {
  margin-left: 75%;
  padding: 0;
}

.btn button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}